.test_box {
    overflow: hidden;
    animation: test_box 5s forwards;
}
@keyframes test_box {
    0%, 99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.comments {
    width: 200px;
}

.comment {
    width: 100%;
    margin-bottom: 20px;

}

.comment p {
    margin: 0 0 10px 0;
}

.dialog {
    position: relative;
    background: gray;
    padding: 20px;
    /*color: #222;*/
    border-radius: 3px;
    margin-left: 20px;
    color:white;
}

.dialog::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid gray;
    left: -15px;
    top: 15px;
}


.test {
    width: 160px;
    height: 50px;
    background-color: red;
    border-radius: 10px;
    display: flex;
}


.test_image{
    margin-left: 10px;
    margin-top: 5px;
}

.test_name{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}


.test_box details summary::-webkit-details-marker {
    display: none;
}

.test_box{
    margin-left: 20px;
    position: fixed;
    z-index: 2;
    right: 0vh;
    top: 90vh
}


.test_box summary:focus{
    outline: none;
}

.test_box details[open]{
    height: 600px;
    width: 200px;
    /*background-color: greenyellow;*/
}

.test_line{
    height: 330px;
    width: 300px;
    background-color: red;
    margin-top: -15px;
    border-radius: 10px;
}

.comments{
    padding-top: 20px;
    font-size: 15px;
}

.test_into{
    width: 280px;
    height: 300px;
    margin-left: 10px;
    background-color: white;
}



details[open] > summary .test{
    width: 300px;
    height: 70px;
}

.test_box details {
    width: 200px;
}
.test_box details[open] {
    width: 300px;
    height: 60px;
    position: fixed;
    z-index: 2;
    right: 5vh;
    top: 45vh;
}

.icon{
    display: flex;
    margin-left: 50px;
}

.vk{
    margin-right: 10px;
}
.instagram{
    margin-right: 10px;
}










@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");


.for details {
    position: relative;
}

.for details summary::-webkit-details-marker {
    display: none;
}

/*4 вариант*/
.for details summary::before {
    content: "";
    position: absolute;
    left: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=")
    no-repeat 50% 50% / 1em 1em;
    width: 1.5em;
    height: 1.5em;
    transition: transform 0.1s linear;
    margin-top: -4px;


}
.for details{
    padding: 10px;
}

.for summary {
    width: 90%;
    padding: 20px;
}

.for summary:hover {
    color: #007bff;
}

.for summary:focus {
    outline: none;
}

.for details[open] summary:before {
    transform: rotate(90deg);
}

.for details[open] > summary {
    color: #007bff;
}

.for details[open] > summary ~ * {
    animation: open 1s ease;
}

.for p.source {
    padding-top: 50px;
    font-size: 0.75em;
    text-align: center;
}


.for{
    min-width: 400px;
    max-width: 800px;
    height: 700px;
    margin-left: 80px;
}


/*.for details:hover{*/
/*    outline: 1px solid #ccc;*/
/*    !*padding: 10px;*!*/
/*}*/
/*.for details[open] {*/
/*    outline: 1px solid #ccc;*/
/*}*/



.box {
    position: fixed;
    z-index: 2;
    right: 10px;
    top: 650px;
}

.box details[open] {
    position: fixed;
    top:512px;
    right: 10px;
    width: 280px;
    padding: 0;
    height: 200px;

}

.box details  {
    position: fixed;
    top:650px;
    right: 10px;
    width: 280px;
    padding: 0;
    height: 62px;

}

.for{
    margin-top: 50px;
    font-size: 20px;
}
