@media screen and (min-width: 600px){
    * {margin: 0; padding: 0}


    .part{
        display: none;
    }


.web{
    display: grid;
    justify-content: start;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 20px;
    font-size: 20px;
    padding-right: 50px;
}




.tex{
    position: relative;
    color:white;

    bottom: 350px;
    text-align: center;

}




.nav_b{
    position: fixed;
    z-index: 2;
    width: 100%;
    color:black;
}
.dropbtn{
    margin-left: 7px;
    margin-right: 7px;
}
.dropbtn:hover {
    background-color: #ff6969!important;
    color:white;
}

body {margin:0;font-family:Arial}

.topnav {
    overflow: hidden;
    background-color: white;
    color:black!important;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.25);
}

.active{
    margin-left: 40px;
}
.topnav a {
    background-color: white;
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
    box-shadow: 0 0 5px rgba(80,80,80,0.4);


}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    padding: 10px 10px;
    background-color: #f2f2f2;
    font-family: inherit;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 8px;
    box-shadow: 0px -10px 10px white, 0px 8px 15px rgba(0, 0, 0, 0.15);


}

.dropdown-content {
    /*display: none;*/
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*----------------------*/
.dropdown-content {
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    transform: translateY(-1em);
    z-index: 2;
    transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.1s,
    z-index 0s linear 0.01s;
}

.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content,
.dropdown:hover .dropdown-content {
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 2;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}


.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    text-align: left;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.1);
    border-radius: 0px!important;
    margin-left: 0px!important;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    margin-right: 0px!important;



}

.topnav a:hover {
    background-color: #ff6969;
    color:white;
}
.dropdown-content a:hover {
    background-color: green;
    color: black;
    margin-right: 10px;

}




.null{
    padding-top: 50px;
}





#logo{
    width: 30px;
    height: 30px;
    top: 15px;
    left: 7px;
    position: absolute;
}









.topnav a:active {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);
}

.topnav a:active:after {
    box-shadow: inset 0px -2px 5px white, inset 0px 2px 5px rgba(0, 0, 0, 0.15);
}



a {
    border: 0;
}

a:focus {
    outline-style: none;
}

.topnav{
    background-color: #f2f2f2;
}

.topnav a:active{
    background-color: #f2f2f2;
    color: black;
}

.topnav a{
    position: relative;
    border-radius: 40px;
    background: #f2f2f2;
    transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px -10px 10px white, 0px 8px 15px rgba(0, 0, 0, 0.15);
}

.topnav a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
}


.topnav a:active {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);

}

.topnav a:active:after {
    box-shadow: inset 0px -4px 5px white, inset 0px 4px 5px rgba(0, 0, 0, 0.15);

}


.dropdown-content a{
    border-radius: 0px;
    transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-content a:after {

    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.dropdown-content a:active {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.dropdown-content a:active:after {
    box-shadow: inset 0px 0px 0px white, inset 0px 0px 0px rgba(0, 0, 0, 0);
}



.dropdown-content a:hover{
    background-color: red;
    color: black;
}

.dropdown-content a{
    /*transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
    box-shadow: 0px 0px 0px white, 0px 0px 0px rgba(0, 0, 0, 0);
}


.dropdown .dropbtn a{
    position: relative;
    border-radius: 40px;
    background: #f2f2f2;
    transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px -10px 10px white, 0px 8px 15px rgba(0, 0, 0, 0.15);
}






.dropdown .dropbtn button:active {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);
}

.dropdown .dropbtn button:active:after {
    box-shadow: inset 0px -4px 5px white, inset 0px 4px 5px rgba(0, 0, 0, 0.15);
}

.dropdown .dropbtn a:active {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);
}

.dropdown .dropbtn a:active:after {
    box-shadow: inset 0px -4px 5px white, inset 0px 4px 5px rgba(0, 0, 0, 0.15);
}







.topnav a{
    margin-right: 5px;
}
.dropdown:hover .dropdown-content {
    display: block;
}




.bar{
    margin: 0 auto;
    horiz-align: center;
    width: 635px;
}


.nu{
    position: absolute;
    left: -10px;
    height: 10px;
    width: 10px;
    visibility: hidden;
}
}


@media screen and (max-width: 600px) {


    .full {
        display: none;
    }


    body {
        margin: 0;
        font-family: Helvetica, sans-serif;
        background-color: #f4f4f4;
    }

    a {
        color: #000;
    }

    /* header */
    .header {
        background-color: #fff;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
        position: fixed;
        width: 100%;
        z-index: 3;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }

    .header li a {
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
    }

    .header li a:hover,
    .header .menu-btn:hover {
        background-color: #f4f4f4;
    }

    .header .logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
    }

    /* menu */
    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    /* menu icon */
    .header .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }

    .header .menu-icon .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .header .menu-icon .navicon:before {
        top: 5px;
    }

    .header .menu-icon .navicon:after {
        top: -5px;
    }

    /* menu btn */
    .header .menu-btn {
        display: none;
    }

    .header .menu-btn:checked ~ .menu {
        max-height: 540px;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }













    .toggle, [id^=drop] {
        display: none;
    }



    header ul {
        float: left;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
    }

    header ul li {
        margin: 0px;
        display: inline-block;
        float: left;
        background-color: #254441;
    }

    /*header a {*/
    /*    display: block;*/
    /*    padding: 0 20px;*/
    /*    color: #FFF;*/
    /*    font-size: 20px;*/
    /*    line-height: 60px;*/
    /*    text-decoration: none;*/
    /*}*/

    header ul li ul li:hover { background: #000000; }

    /*header a:hover { background-color: #000000; }*/

    header ul ul {
        display: none;
        position: absolute;
        top: 60px;
    }

    header li:hover > ul { display: inherit; }

    header ul ul li {
        width: 170px;
        float: none;
        display: list-item;
        position: relative;
    }

    header ul ul ul li {
        position: relative;
        top: -60px;
        left: 170px;
    }

    li > a:after { content: ' +'; }

    li > a:only-child:after { content: ''; }


    /* Media Queries
    --------------------------------------------- */



     header { margin: 0; }
    .toggle + a{
         display: none; }

    .toggle + a,
    .menu1 { display: none; }

    .toggle {
        display: block;
        background-color: #254441;
        padding: 0 20px;
        color: #FFF;
        font-size: 22px;
        font-weight:bold;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }

    .toggle:hover { background-color: #000000; }

    [id^=drop]:checked + ul { display: block; }

    header ul li {
        display: block;
        width: 100%;
    }

    header ul ul .toggle,
    header ul ul a { padding: 0 40px; }

    header ul ul ul a { padding: 0 80px; }

    header a:hover,
    header ul ul ul a { background-color: #000000; }

    header ul li ul li .toggle,
    header ul ul a { background-color: #212121; }

    header ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }

    header ul ul li:hover > ul,
    header ul li:hover > ul { display: none; }

    header ul ul li {
        display: block;
        width: 100%;
    }

    header ul ul ul li { position: static;}




}

/*@media screen and (max-width: 600px) {*/
/*    .topnav a:not(:first-child), .dropdown .dropbtn {*/
/*        display: none;*/
/*    }*/
/*    .topnav a.icon {*/
/*        float: right;*/
/*        display: block;*/
/*    }*/

/*    .topnav a {*/

/*        margin-bottom: 12px;*/
/*    }*/


/*    .dropdown-content {*/
/*        display: none;*/
/*    }*/



/*}*/

/*@media screen and (max-width: 600px) {*/
/*    .topnav.responsive {*/
/*        position: relative;*/
/*        padding-top: 48px;*/
/*    }*/
/*    */
/*    .topnav.responsive .icon {*/
/*        position: absolute;*/
/*        right: 0;*/
/*        top: 0;*/
/*    }*/
/*    .topnav.responsive a {*/
/*        float: none;*/
/*        display: block;*/
/*        text-align: left;*/
/*    }*/
/*    .topnav.responsive .dropdown {float: none;}*/
/*    .topnav.responsive .dropdown-content {position: relative;}*/
/*    .topnav.responsive .dropdown .dropbtn {*/
/*        display: block;*/
/*        width: 100%;*/
/*        text-align: left;*/
/*    }*/


/*    .nu{*/
/*        position: absolute;*/
/*        left: -10px;*/
/*        height: 10px;*/
/*        width: 10px;*/
/*        visibility: hidden;*/
/*    }*/

/*}*/