
* {margin: 0; padding: 0}


a {
    text-decoration: none;
}


.grid-block a{
    color: black;
}

.video {
    width: 100%;
}

.buttons {
    padding: 10px;
}

.buttons button {
    background: none;
    border: none;
    outline: 0;
    cursor: pointer;
}

.buttons button:before {
    content: '\f144';
    font-family: 'Font Awesome 5 Free';
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 28px;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.c-video {
    width: 100%;
    max-width: 1080px;
    position: relative;
    overflow: hidden;
}

.c-video:hover .controls {
    transform: translateY(0);
}

/*.controls   {*/
/*    display: flex;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    flex-wrap: wrap;*/
/*    background-color: rgba(0,0,0,0.7);*/
/*    transform: translateY(100%) translateY(-5px);*/
/*    transition: all .2s;*/
/*}*/



.buttons button.play:before {
    content: '\f144';
    font-family: 'Font Awesome 5 Free';
}

.buttons button.pause:before {
    content: '\f28b';
    font-family: 'Font Awesome 5 Free';
}

/* Progress bar container */
.orange-bar {
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.65);
}

/* This represents the progress bar */
.orange-juice {
    height: 10px;
    /* width: 100px;  */
    /* background-color: orangered; */
    background-color: rgba(255, 69, 0, 0.5);
}

.aaa{
    margin-left: 50px;
}



div summary{
    margin-right: 100px;
}


.curs{
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
}

.bought_vocabulary{
    font-size: 30px;
    /*margin-left: 30%;*/
    margin-bottom: 50px;
    text-align: center;
}

.bought_latin_roots{
    font-size: 30px;
    /*margin-left: 30%;*/
    margin-bottom: 50px;
    text-align: center;
}

.bought_collocations{
    font-size: 30px;
    /*margin-left: 30%;*/
    margin-bottom: 50px;
    text-align: center;
}

.bought_reading{
    font-size: 30px;
    /*margin-left: 30%;*/
    margin-bottom: 50px;
    text-align: center;
}

.bought_writing{
    font-size: 30px;
    /*margin-left: 30%;*/
    margin-bottom: 50px;
    text-align: center;
}
.bought_listening{
    font-size: 30px;
    /*margin-left: 30%;*/
    margin-bottom: 50px;
    text-align: center;
}

.bought_speaking{
    font-size: 30px;
    /*margin-left: 30%;*/
    text-align: center;
}

.curs1{
    /*padding-left: 5%;*/
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
}


.buy_vocabulary{
    font-size: 30px;
    /*margin-left: 30%;*/
    margin-bottom: 50px;
    text-align: center;
}

.buy_latin_roots{
    font-size: 30px;
    /*margin-left: 30%;*/
    margin-bottom: 50px;
    text-align: center;
}


.buy_collocations{
    font-size: 30px;
    /*margin-left: 30%;*/
    margin-bottom: 50px;
    text-align: center;
}

.buy_reading{
    font-size: 30px;
    /*margin-left: 30%;*/
    margin-bottom: 50px;
    text-align: center;
}

.buy_writing{
    font-size: 30px;
    /*margin-left: 30%;*/
    margin-bottom: 50px;
    text-align: center;
}
.buy_listening{
    font-size: 30px;
    /*margin-left: 30%;*/
    margin-bottom: 50px;
    text-align: center;
}

.buy_speaking{
    font-size: 30px;
    /*margin-left: 30%;*/
    text-align: center;
}