.box_bought_vocabulary_list{
    /*display: flex;*/
    width: 80%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding-right: 5%;
    padding-left: 10%;
    font-size: 23px;
    grid-gap: 20px;
}



a {
    text-decoration: none;
    color: black;
}

.otstup{
    padding-bottom: 20px;
    display: flex;
}

.icon_text1{
    margin-top: -1px;
    padding-right: 6px;
}


.box_bought_vocabulary_list{
    margin-top: 60px;
}




@media screen and (max-width: 1100px){
    .box_bought_vocabulary_list{
        width: 80%;
        grid-template-columns: 50% 50%;
    }
}


@media screen and (max-width: 500px){
    .box_bought_vocabulary_list{
        width: 80%;
        grid-template-columns: 100%;
        padding-left: 15%;
        margin-left: 20px;
        padding-right: 10px;
    }
}


