/*.color{*/
/*    background: #61bd97;*/
/*    opacity: 0.8;*/
/*    filter: alpha(Opacity=80);*/
/*    color: #fff;*/
/*    border-radius: 10px;*/
/*}*/

/*.color{*/
/*    padding: 20px;*/
/*    color:white;*/
/*    text-shadow: 3px 3px 3px black;*/
/*}*/

.color{
    background: rgba(97, 189, 151, 0.5);
    color:white;
    text-shadow: 2px 2px 3px black;
}