summary {
    width: 100%;
    padding: 20px;
    padding-left: 25px;
}

details {
    position: relative;
}

details summary::-webkit-details-marker {
    display: none;
}


details{
    padding: 10px;
}

.for summary {
    width: 90%;
    padding: 20px;
}


summary:hover {
    color: #007bff;
}

summary:focus {
    outline: none;
}


.for details[open] > summary {
    color: #007bff;
}

.for details[open] > summary ~ * {
    animation: open 1s ease;
}

p.source {
    padding-top: 50px;
    font-size: 0.75em;
    text-align: center;
}


.for{
    min-width: 400px;
    max-width: 800px;
    height: 700px;
    margin-left: 80px;
}


@keyframes box {
    0%, 99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}



.for .for2{
    margin-left: 50px;
}


.grid a{
    margin-left: 100px;
}

/*.grid{*/
/*    !*display: grid;*!*/
/*    !*width: 300px;*!*/
/*    width: 80%;*/
/*    height: 100%;*/
/*    background-color: red;*/
/*    margin-left: 10%;*/
/*    margin-right: 10%;*/
/*    grid-template-columns: 50% 50%;*/

/*    grid-gap: 20px;*/
/*}*/

.grid-block{
    width: 80%;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.grid-block{
    padding: 10px;
}

