body::after {
    display: none;
    content: url('../img/background/1.jpg') url('../img/background/2.jpg') url('../img/background/3.jpg');
}

.phot {
    /*position: absolute;*/
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    animation: changeBackground 12s infinite linear;
}

@keyframes changeBackground{
    0%{
        background-image: url('../img/background/1.jpg');
    }
    25% {
        opacity: 1;
        background-image: url('../img/background/1.jpg');
    }

    /*33.3%{*/
    /*    opacity: 1;*/
    /*    background-image: url('../img/background/2.jpg');*/
    /*}*/
    25.1%{
        opacity: 1;
        background-image: url('../img/background/2.jpg');
    }
    58.3%{
        opacity: 1;
        background-image: url('../img/background/2.jpg');
    }

    /*66.3%{*/
    /*    opacity: 1;*/
    /*    background-image: url('../img/background/3.jpg');*/
    /*}*/
    58.4%{
        opacity: 1;
        background-image: url('../img/background/3.jpg');
    }
    99.98%{
        opacity: 1;
        background-image: url('../img/background/3.jpg');
    }

    99.99%{
        opacity: 1;
        background-image: url('../img/background/1.jpg');
    }
}