.nav_b{
    position: fixed;
    z-index: 2;
    width: 100%;
    color:black;
}
.dropbtn{
    margin-left: 8px;
   margin-right: 2px;
}
.dropbtn:hover {
    background-color: #ff6969!important;
    color:white;
    /*color: white;*/
}

body {margin:0;font-family:Arial}

.topnav {
    padding-left: 40px;
    /*border-radius: 40px;*/
    overflow: hidden;
    background-color: white;
    /*color:white!important;*/
    color:black!important;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.25);
}

.active{
    margin-left: 40px;
}
.topnav a {
    background-color: white;
    float: left;
    display: block;
    /*color: #f2f2f2;*/
    color:black;
    text-align: center;
    /*padding: 14px 16px;*/
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    /*outline: solid 3px red;*/
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
    box-shadow: 0 0 5px rgba(80,80,80,0.4);
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    padding: 10px 10px;
    background-color: white;
    font-family: inherit;
    border-radius: 40px;
    /*margin-left: 10px;*/
    margin-top: 10px;
    margin-bottom: 8px;
    box-shadow: 0 0 5px rgba(80,80,80,0.4);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.1);
    border-radius: 0px!important;
    margin-left: 0px!important;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    margin-right: 0px!important;
}

.topnav a:hover {
    background-color: #ff6969;
    color:white;
}

.dropdown-content a:hover {
    background-color: green;
    color: black;
    margin-right: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}


.null{
    padding-top: 50px;
}




#logo{
    width: 30px;
    height: 30px;
    top: 15px;
    left: 7px;
    position: absolute;
}


