.words{
    display: grid;
    padding-left: 10%;
    padding-right: 7%;
    padding-bottom: 20px;
    grid-template-columns: 50% 25%;
    grid-gap: 20px;
    font-size: 25px;
}
/*.words_text_board div{*/
/*    !*padding: 1em;*!*/
/*    !*padding-top: 50px;*!*/
/*    !*background-color: greenyellow;*!*/
/*}*/

.words div.words_image{
    padding: 1em;
    margin-left: 10%;
    /*background-color: aqua;*/
}

.words{
    margin-top: 50px;
}

.words_test_board{

}

@media screen and (max-width: 700px){
    .words{
        grid-template-columns: 100%;

    }
    .words div.words_image{
        padding-left: 10%;
    }
}

body{
    background: url("../img/background/5.jpg");

    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


.words_text_bord{
    border: 3px solid #696b6c;
    border-radius: 10px;
}


.words_image img{
    border-radius: 10px;
}

.words_text_bord{
    border-radius: 10px;
}

.words_text{
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
}


/*.words{*/
/*    margin-left: 40px;*/
/*    !*width: 75%;*!*/
/*    display: grid;*/
/*    padding-left: 10%;*/
/*    padding-right: 7%;*/
/*    padding-bottom: 20px;*/
/*    grid-template-columns: 50% 360px;*/
/*    !*grid-gap: 20px;*!*/
/*    font-size: 25px;*/
/*    outline: solid 3px red;*/
/*    !*border-radius: 10px;*!*/
/*}*/
/*!*.words_text_board div{*!*/
/*!*    !*padding: 1em;*!*!*/
/*!*    !*padding-top: 50px;*!*!*/
/*!*    !*background-color: greenyellow;*!*!*/
/*!*}*!*/

/*.words div.words_image{*/
/*    padding: 1em;*/
/*    !*margin-left: 10%;*!*/
/*    !*background-color: aqua;*!*/
/*    !*outline: solid 3px gray;*!*/
/*    background: rgba(163, 207, 253, 0.5);*/
/*}*/

/*.words_image{*/

/*    !*outline: solid 3px blue;*!*/
/*    !*border-radius: 10px;*!*/
/*}*/
/*!*.words{*!*/
/*!*    margin-top: 50px;*!*/
/*!*}*!*/

/*!*.words_test_board{*!*/

/*!*}*!*/
/*.words img{*/
/*    border-radius: 10px;*/
/*    box-shadow: 0px 4px 10px black;*/
/*}*/
/*@media screen and (max-width: 700px){*/
/*    .words{*/
/*        grid-template-columns: 100%;*/

/*    }*/
/*    .words div.words_image{*/
/*        padding-left: 10%;*/
/*    }*/
/*}*/

/*body{*/
/*    background: url("../img/background/5.jpg");*/

/*    background-attachment: fixed;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/


/*!*.words_text_bord{*!*/
/*!*    border: 3px solid #696b6c;*!*/
/*!*    border-radius: 10px;*!*/
/*!*}*!*/


/*!*.words_image img{*!*/
/*!*    border-radius: 10px;*!*/
/*!*}*!*/

/*!*.words_text_bord{*!*/
/*!*    border-radius: 10px;*!*/
/*!*}*!*/

/*.words_text{*/
/*    padding-left: 20px;*/
/*    padding-right: 10px;*/
/*    padding-bottom: 10px;*/
/*}*/



/*.words_image img{*/
/*    height: 50vh;*/
/*    !*height: 100%;*!*/
/*    width: 60%;*/
/*}*/



